body {
    background-image: url(/images/2013111114141550421490.jpg);
    background-color: rgb(159, 177, 189);
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a{
    font-size: large;
    color: rgb(182, 71, 71);
    text-decoration: none;
}

a:hover{
    text-decoration:underline
}

